# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
node_modules/
dist/

# Environment variables
.env

# Data & temporary tiles
**/temp_tiles/
**/temp_uploads/
*.npy
*.npz
!**/test_dataset/**/*.npy

# Operating System
.DS_Store
Thumbs.db
